.button {
  display: flex;
  justify-content: center;
  background-color: rgb(212, 64, 64);
  color: white;
  padding: 8px 0;
  width: 240px;
  margin-left: 2%;
  border: none;
  border-radius: 8px;
  margin-top: 8px;

  &:active {
    background-color: rgb(170, 42, 42);
    padding: 10px;
  }
}
